*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: hsl(217, 28%, 15%);
}
.container{
	/*background: hsl(217, 28%, 15%);*/
}
/*INICIO HEADER*/
.header{
	width: 90%;
    height: 15vh;
    margin: auto;
    justify-content: center;
    padding: 5vh 0 0 0;
}
.logo-img{
	display: flex;
	background: url(images/logo.svg);
    background-repeat: no-repeat;
}
.list-header{
	list-style: none;
    justify-content: flex-end;
    display: flex;
}
.itens-list-links{
	text-decoration: none;
    opacity: .9;
    color: hsl(0, 0%, 100%);
    margin: 0 5vh;
    vertical-align: middle;
}
.itens-list-links:hover{
    text-decoration: none;
    opacity: 1;
    color: hsl(0, 0%, 100%);
    margin: 0 5vh;
    vertical-align: middle;
    border-bottom: 2px solid hsl(0, 0%, 100%);
}
/*FINAL HEADER*/

/*INCICIO MAIN*/
.container-main{
	/*background: url(images/bg-curvy-desktop.svg);
	background-repeat: no-repeat;*/
}
.introMain{
	width: 90%;
	margin: auto;
	justify-content: center;
    text-align-last: center;
    padding: 0 0 5vh 0;
}
.image-intro{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.tituloPrincipal{
	justify-content: center;
    align-items: center;
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding: 2vh 0;
    font-family: 'Raleway', sans-serif;
}
.descricaoPrincipal{
	text-align: center;
	color: hsl(0, 0%, 100%);
	opacity: .6;
	padding: 3vh 0;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.getStart{
	width: 15%;
    height: 5vh;
    border-radius: 3vh;
    outline: none;
    border: none;
    background: linear-gradient(45deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}
.getStart:hover{
	opacity: .5;
}

/*INICIO FILES*/
.containerGrid{
	display: grid;
    grid-template-columns: 33% 33%;
    grid-template-rows: 35vh;
    justify-content: center;
}
.tituloContainerGrid{
	font-size: 25px;
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
    padding: 2vh 0;
    font-weight: 700;
}
.descricaoContainerGrid{
	font-size: 17px;
    color: hsl(0, 0%, 100%);
    opacity: .6;
    font-family: 'Open Sans', sans-serif;
    padding: 0 0 2vh 0;
    font-weight: 400;
}
.files{
	text-align: center;
    width: 80%;
    margin: auto;
    grid-column: 1;
    grid-row: 1;
}
.security{
	text-align: center;
    width: 80%;
    margin: auto;
    grid-column: 2;
    grid-row: 1;
}
.collaboration{
	text-align: center;
    width: 80%;
    margin: auto;
    grid-column: 1;
    grid-row: 2;
}
.store{
	text-align: center;
    width: 80%;
    margin: auto;
    grid-column: 2;
    grid-row: 2;
}
/*FIM FILES*/

/*PRODUCTIVE*/
.containerProductiveGrid{ 
	display: grid;
    grid-template-rows: 71vh;
    grid-template-columns: 50% 50%;
    justify-content: center;
}
.imgProductiveGrid{
	background: url(images/illustration-stay-productive.png);
	background-repeat: no-repeat;
	grid-row: 1;
    grid-column: 1;
}
.StayProductiveGrid{
	justify-content: center;
    align-self: center;
    grid-row: 1;
    grid-column: 2;
}
.tituloStayProductive{
	width: 36%;
	font-family: 'Raleway', sans-serif;
	font-size: 29px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}
.descricaoStayProductive{
	width: 72%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
    color: hsl(0, 0%, 100%);
    opacity: .6;
    padding: 2vh 0;
}
.linkStayProductive{
	text-decoration: none;
    color: hsl(176, 68%, 64%);
    padding: 0 0 1vh 0;
    border-bottom: 2px solid;
}
.linkStayProductive:hover{
	color: hsl(0, 0%, 100%)
}
.iconStayProductive:hover{
	filter: sepia(1);
}
/*FIM PRODUCTIVE*/
/*INICIO COMMENTS*/
.containerCommentsGrid{
	display: grid;
    grid-template-rows: 36vh;
    grid-template-columns: 33% 33% 33%;
    width: 90%;
    margin: auto;
    background: url(images/bg-quotes.png);
    background-repeat: no-repeat;
}
.primaryComment{
	background: hsl(219, 30%, 18%);
    height: 26vh;
    width: 90%;
    justify-content: center;
    align-self: center;
    border-radius: 2vh;
    box-shadow: 4px 5px hsl(216deg 53% 9%);
    padding: 4vh 0 0 3vh;
}
.commentDescrition{
	padding: 0 0 3vh 0;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    opacity: .6;
}
.photoComment{
	width: 10%;
    border-radius: 3vh;
}
.commentName{
	vertical-align: top;
    padding: 0 1vh;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
.commentOffice{
	color: hsl(0, 0%, 100%);
	opacity: .6;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.secondComment{
	background: hsl(219, 30%, 18%);
    height: 26vh;
    width: 90%;
    justify-content: center;
    align-self: center;
    border-radius: 2vh;
    box-shadow: 4px 5px hsl(216deg 53% 9%);
    padding: 4vh 0 0 3vh;
}
.thirdComment{
	background: hsl(219, 30%, 18%);
    height: 26vh;
    width: 90%;
    justify-content: center;
    align-self: center;
    border-radius: 2vh;
    box-shadow: 4px 5px hsl(216deg 53% 9%);
    padding: 4vh 0 0 3vh;
}
/*FIM COMMENTS*/
/*INICIO GETEARLY*/
.containerGetEarlyGrid{
	width: 70%;
    margin: auto;
    background: hsl(218, 28%, 13%);
    height: 30vh;
    border-radius: 2vh;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px hsl(219deg 30% 18%);
    transform: translate(0px, 70px);
}
.tituloGetEarly{
	justify-content: center;
    text-align: center;
    padding: 2vh 0;
    font-weight: 700;
    font-size: 32px;
    color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif;
}
.descritionGetEarly{
	justify-content: center;
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 0 0 3vh 0;
    opacity: .7;
    color: hsl(0, 0%, 100%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
.email{
	justify-content: center;
    align-items: center;
    width: 40%;
    height: 5vh;
    border-radius: 3vh;
    padding: 0 3vh;
    border: none;
    outline: none;
}
.buttonGetStarted{
	width: 20%;
    height: 5vh;
    border-radius: 3vh;
    border: none;
    margin-left: 2vh;
    background: linear-gradient(45deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: hsl(0, 0%, 100%);
}
.buttonGetStarted:hover{
    opacity: .5;
}
/*FIM GETEARLY*/
/*INICIO FOOTER*/
.footer{
    background: hsl(216, 53%, 9%);
    margin: auto;
    padding: 15vh 0 0 5vh;
}
.containerFooterGrid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15vh;
}
.locationFooterGrid{
    grid-column: 1;
    grid-row: 1;
    padding: 2vh 0;
}
.loremIpsum{
    padding: 0 4vh;
    color: hsl(0, 0%, 100%);
    opacity: .9;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.contactFooterGrid{
    grid-column: 2;
    grid-row: 1;
    padding: 2vh 0;
    width: 49%;
}
.phoneContact{
    padding: 1vh;
    color: hsl(0, 0%, 100%);
    opacity: .9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.emailContact{
    padding: 1vh;
    color: hsl(0, 0%, 100%);
    opacity: .9;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.itensFooterGrid{
    grid-column: 3;
    grid-row: 1;
    height: 12vh;
    width: 50%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 3vh 3vh 3vh 3vh;
}
.itensSiteFooter{
    color: hsl(0, 0%, 100%);
    opacity: .7;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.itensSiteFooter:hover{
    color: hsl(0, 0%, 100%);
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.logo-facebook{
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 1vh;
    filter: contrast(0.5);
    fill: white;
    margin: 0 1vh 0 0;
}
.logo-twitter{
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 1vh;
    filter: contrast(0.5);
    fill: white;
    margin: 0 1vh 0 0;
}
.logo-instagram{
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 1vh;
    filter: contrast(0.5);
    fill: white;
    margin: 0 1vh 0 0;
}
.logo-facebook:hover{
    border: 2px solid steelblue;
    border-radius: 50%;
    padding: 1vh;
    fill: steelblue;
    margin: 0 1vh 0 0;
}
.logo-twitter:hover{
    border: 2px solid steelblue;
    border-radius: 50%;
    padding: 1vh;
    fill: steelblue;
    margin: 0 1vh 0 0;
}
.logo-instagram:hover{
    border: 2px solid steelblue;
    border-radius: 50%;
    padding: 1vh;
    fill: steelblue;
    margin: 0 1vh 0 0;
}
/*FIM FOOTER*/
@media screen and (max-width: 375px){
    /*INICIO HEADER*/
    .header{
        width: 90%;
        height: 15vh;
        margin: auto;
        justify-content: center;
        padding: 5vh 0 0 0;
    }
    .logo-img{
        display: flex;
        background: url(images/logo.svg);
        background-repeat: no-repeat;
    }
    .list-header{
        list-style: none;
        justify-content: flex-end;
        display: flex;
    }
    .itens-list-links{
        text-decoration: none;
        opacity: .9;
        color: hsl(0, 0%, 100%);
        margin: 0 1vh;
        vertical-align: middle;
        font-size: 14px;
    }
    .itens-list-links:hover{
        text-decoration: none;
        opacity: 1;
        color: hsl(0, 0%, 100%);
        margin: 0 5vh;
        vertical-align: middle;
        border-bottom: 2px solid hsl(0, 0%, 100%);
    }
    /*FINAL HEADER*/
    /*INCICIO MAIN*/
    .container-main{

    }
    .introMain{
        width: 90%;
        margin: auto;
        justify-content: center;
        text-align-last: center;
        padding: 0 0 5vh 0;
    }
    .image-intro{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .tituloPrincipal{
        justify-content: center;
        align-items: center;
        text-align: center;
        color: hsl(0, 0%, 100%);
        padding: 4vh 0;
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
    }
    .descricaoPrincipal{
        text-align: center;
        color: hsl(0, 0%, 100%);
        opacity: .6;
        padding: 3vh 0;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    .getStart{
        width: 30%;
        height: 6vh;
        border-radius: 3vh;
        outline: none;
        border: none;
        background: linear-gradient(45deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        color: hsl(0, 0%, 100%);
        text-align: center;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
    }
    .getStart:hover{
        opacity: .5;
    }
    /*FIM MAIN*/
    /*INICIO FILES*/
    .containerGrid{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 55vh 45vh 45vh 45vh;
        justify-content: center;
    }
    .tituloContainerGrid{
        font-size: 25px;
        color: hsl(0, 0%, 100%);
        font-family: 'Raleway', sans-serif;
        padding: 2vh 0;
        font-weight: 700;
    }
    .descricaoContainerGrid{
        font-size: 17px;
        color: hsl(0, 0%, 100%);
        opacity: .6;
        font-family: 'Open Sans', sans-serif;
        padding: 0 0 2vh 0;
        font-weight: 400;
    }
    .files{
        text-align: center;
        width: 80%;
        margin: auto;
        grid-column: 1;
        grid-row: 1;
    }
    .security{
        text-align: center;
        width: 80%;
        margin: auto;
        grid-column: 1;
        grid-row: 2;
    }
    .collaboration{
        text-align: center;
        width: 80%;
        margin: auto;
        grid-column: 1;
        grid-row: 3;
    }
    .store{
        text-align: center;
        width: 80%;
        margin: auto;
        grid-column: 1;
        grid-row: 4;
    }
    /*FIM FILES*/
    /*PRODUCTIVE*/
    .containerProductiveGrid{ 
        display: grid;
        grid-template-rows: 70vh 70vh;
        grid-template-columns: 100%;
        justify-content: center;
    }
    .imgProductiveGrid{
        background: url(images/illustration-stay-productive.png);
        background-repeat: no-repeat;
        grid-row: 1;
        grid-column: 1;
    }
    .StayProductiveGrid{
        justify-content: center;
        align-self: center;
        grid-row: 2;
        grid-column: 1;
        width: 80%;
        margin: auto;
    }
    .tituloStayProductive{
        width: 100%;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        color: hsl(0, 0%, 100%);
        font-weight: 700;
    }
    .descricaoStayProductive{
        width: 100%;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        color: hsl(0, 0%, 100%);
        opacity: .6;
        padding: 2vh 0;
    }
    .linkStayProductive{
        text-decoration: none;
        color: hsl(176, 68%, 64%);
        padding: 0 0 1vh 0;
        border-bottom: 2px solid;
    }
    .linkStayProductive:hover{
        color: hsl(0, 0%, 100%)
    }
    .iconStayProductive:hover{
        filter: sepia(1);
    }
    /*FIM PRODUCTIVE*/
    /*INICIO COMMENTS*/
    .containerCommentsGrid{
        display: grid;
        grid-template-rows: 36vh 36vh 36vh;
        grid-template-columns: 100%;
        width: 90%;
        margin: auto;
        background: url(images/bg-quotes.png);
        background-repeat: no-repeat;
    }
    .primaryComment{
        background: hsl(219, 30%, 18%);
        height: 28vh;
        width: 95%;
        justify-content: center;
        align-self: center;
        border-radius: 2vh;
        box-shadow: 4px 5px hsl(216deg 53% 9%);
        padding: 4vh 0 0 3vh;
        grid-column: 1;
        grid-row: 1;
        transform: translate(0px, 13px);
    }
    .commentDescrition{
        padding: 0 0 3vh 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 13px;
        color: hsl(0, 0%, 100%);
        opacity: .6;
    }
    .photoComment{
        width: 10%;
        border-radius: 3vh;
    }
    .commentName{
        vertical-align: top;
        padding: 0 1vh;
        color: hsl(0, 0%, 100%);
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 13px;
    }
    .commentOffice{
        color: hsl(0, 0%, 100%);
        opacity: .6;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
    }
    .secondComment{
        background: hsl(219, 30%, 18%);
        height: 28vh;
        width: 95%;
        justify-content: center;
        align-self: center;
        border-radius: 2vh;
        box-shadow: 4px 5px hsl(216deg 53% 9%);
        padding: 4vh 0 0 3vh;
        grid-column: 1;
        grid-row: 2;
        transform: translate(0px, 13px);
    }
    .thirdComment{
        background: hsl(219, 30%, 18%);
        height: 28vh;
        width: 95%;
        justify-content: center;
        align-self: center;
        border-radius: 2vh;
        box-shadow: 4px 5px hsl(216deg 53% 9%);
        padding: 4vh 0 0 3vh;
        grid-column: 1;
        grid-row: 3;
    }
    /*FIM COMMENTS*/
    /*INICIO GETEARLY*/
    .containerGetEarlyGrid{
        width: 90%;
        margin: auto;
        background: hsl(218, 28%, 13%);
        height: 46vh;
        border-radius: 2vh;
        justify-content: center;
        text-align: center;
        box-shadow: 5px 5px hsl(219deg 30% 18%);
        transform: translate(0px, 75px);
    }
    .tituloGetEarly{
        justify-content: center;
        text-align: center;
        padding: 2vh 0;
        font-weight: 700;
        font-size: 28px;
        color: hsl(0, 0%, 100%);
        font-family: 'Raleway', sans-serif;
        width: 90%;
        margin: auto;
    }
    .descritionGetEarly{
        justify-content: center;
        text-align: center;
        width: 90%;
        margin: auto;
        padding: 0 0 3vh 0;
        opacity: .7;
        color: hsl(0, 0%, 100%);
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
    }
    .email{
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 6vh;
        border-radius: 3vh;
        padding: 0 3vh;
        border: none;
        outline: none;
    }
    .buttonGetStarted{
        width: 80%;
        height: 6vh;
        border-radius: 3vh;
        border: none;
        margin-left: 2vh;
        background: linear-gradient(45deg, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
        color: hsl(0, 0%, 100%);
        justify-content: center;
        align-items: center;
        margin: 4vh 0;
    }
    .buttonGetStarted:hover{
        opacity: .5;
    }
    /*FIM GETEARLY*/
    .footer{
    background: hsl(216, 53%, 9%);
    margin: auto;
    padding: 15vh 0 0 5vh;
    width: 100%;
}
.containerFooterGrid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15vh 15vh 15vh 15vh;
}
.locationFooterGrid{
    grid-column: 1;
    grid-row: 1;
    padding: 2vh 0;
}
.loremIpsum{
    padding: 0 4vh;
    color: hsl(0, 0%, 100%);
    opacity: .9;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.contactFooterGrid{
    grid-column: 1;
    grid-row: 2;
    padding: 2vh 0;
    width: 55%;
}
.phoneContact{
    padding: 1vh;
    color: hsl(0, 0%, 100%);
    opacity: .9;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.emailContact{
    padding: 1vh;
    color: hsl(0, 0%, 100%);
    opacity: .9;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.itensFooterGrid{
    grid-column: 1;
    grid-row: 3;
    height: 14vh;
    width: 48%;
    display: inline-grid;
}
.itensSiteFooter{
    color: hsl(0, 0%, 100%);
    opacity: .7;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.itensSiteFooter:hover{
    color: hsl(0, 0%, 100%);
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.socialMediaFooterGrid{
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    align-self: center;
    margin: 0 30%;
    grid-column: 1;
    grid-row: 4;
}
.logo-facebook{
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 1vh;
    filter: contrast(0.5);
    fill: white;
    margin: 0 1vh 0 0;
}
.logo-twitter{
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 1vh;
    filter: contrast(0.5);
    fill: white;
    margin: 0 1vh 0 0;
}
.logo-instagram{
    border: 2px solid hsl(0, 0%, 100%);
    border-radius: 50%;
    padding: 1vh;
    filter: contrast(0.5);
    fill: white;
    margin: 0 1vh 0 0;
}
.logo-facebook:hover{
    border: 2px solid steelblue;
    border-radius: 50%;
    padding: 1vh;
    fill: steelblue;
    margin: 0 1vh 0 0;
}
.logo-twitter:hover{
    border: 2px solid steelblue;
    border-radius: 50%;
    padding: 1vh;
    fill: steelblue;
    margin: 0 1vh 0 0;
}
.logo-instagram:hover{
    border: 2px solid steelblue;
    border-radius: 50%;
    padding: 1vh;
    fill: steelblue;
    margin: 0 1vh 0 0;
}
}